@value makerBlack, makerWhite, makerShadow from '../../common/colors.css';

.card {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  border-radius: 1em;
  padding: 0.2em 0;
  box-shadow: 6px 6px 8px 0px makerShadow;
  background-color: yellow;
  max-width: 30rem;
}

.card.dark {

}